
.typeSelector {
	display: flex;
	justify-content: center;
	align-items: center;

	width: fit-content;
	min-width: unset;

	background-color: #210808 !important;
	border-radius: 10px;
}

.typeSelectorPrompt {
	margin-right: 10px;
}

.typeSelectorButton {
	width: fit-content;
	border-radius: 5px;
	background-color: #591212;
	color: #acacac;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;

	margin-left: 5px;
	margin-right: 5px;

	transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, scale 0.1s ease-in-out, margin 0.1s ease-in-out;
}

.typeSelectorButton:hover {
	color: white;
	background-color: #6e1616;
	cursor: pointer;
}

.typeSelectorButton.selected {
	color: white;
	background-color: #370e0e;
	scale: 1.2;

	margin-left: 10px;
	margin-right: 10px;
}

.imageBoxContainer {
	display: flex;
	flex-flow: column;
	justify-content: center;
	justify-items: center;
	align-items: center;

	font-size: 20px;
	text-align: center;

	color: #acacac;

	width: 310px;
	height: 310px;
}

.imageBox {
	display: flex;
	flex-flow: column;
	justify-content: center;
	justify-items: center;
	align-items: center;

	transition: color 0.2s ease-in-out;

	/* background-color: #210808; */
	border-radius: 10px;
	margin: 5px;
	/* padding: 10px; */

	position: relative;

	overflow: hidden;
}

.imageBoxBorder {
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


#entityImage {
	width: 200px;
	height: 300px;
	margin: 0;

	object-fit: cover;

	border: solid 1px;
	border-color: white;

	vertical-align: top;

	background-color: #130d0ddd;
}

#imageBox.square #entityImage {
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-right: 0px;
}

#imageBox.square {
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-right: 0px;
	border: solid 1px;
	border-color: white;
}

#imageBox.placeholder {
	object-fit: contain;

	opacity: 0.5;
	transition: opacity 0.2s ease-in-out;
}

#uploadOverlay {
	position: absolute;

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	margin-left: 0;
	margin-right: 0;

	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;

	transition: opacity 0.2s ease-in-out;
}

#uploadOverlayIcon {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	scale: 0.2;

	transition: scale 0.2s ease-in-out;
}

.uploadOverlayText {
	position: absolute;
	text-align: center;

	left: 0;
	bottom: 20px;
	width: 100%;
	
	font-size: 24px;
}

#uploadOverlay:hover {
	opacity: 1;
	cursor: pointer;
}

#uploadOverlay:hover #uploadOverlayIcon {
	scale: 0.53;
}

.imageBox:hover {
	color: white;
	cursor: pointer;
}

#image {
	width: 200px;
	height: 300px;

	margin-left: 50px;
	margin-right: 50px;

	object-fit: contain;

	border: solid 1px;
	border-color: white;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;

	vertical-align: top;
}

#image.square {
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-right: 0px;
}

#image.placeholder {
	object-fit: contain;

	opacity: 0.5;
	transition: opacity 0.2s ease-in-out;
}

.imageBox:hover #image.placeholder {
	opacity: 1;
}

#image {
	object-fit: cover;
}

#imageSelector {
	display: none;
}

#personCard {
	padding: 10px;
	vertical-align: top;
	padding-left: 50px;
}

#personHeader {
	font-family: 'Oswald', sans-serif;
	font-size: 64px;
	line-height: 64px;
}

#personHeader p {
	margin: 0px;
	line-height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#personOriginalName {
	font-size: 40px;
	color: grey;

	line-height: 40px;
}

#personLifetime {
	font-size: 40px;
	color: grey;
}

#personBio {
	padding-right: 50px;
	/* padding-left: 50px; */
}

.dataCardTable {
	width: 100%;
}

input {
	padding: 4px;

	width: 100%;

	color: white;
	font-size: 32px;
	font-family: 'Oswald', sans-serif;


	background-color: #330b0b;

	border: none;

	border-radius: 5px;
	/* border-color: #210808;
	border-width: 2px;
	border-radius: 3px; */
}

input.dateInput {
	width: fit-content;
}

input.checkboxInput {
	display: inline-block;
	vertical-align: bottom;
	width: 30px;
	height: 30px;
	accent-color: #6e1616;
}

.photoAndData {
	display: flex;
	align-items: flex-start;
	/* justify-items: start; */
}

.dataCard {
	flex: 800px 1;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	
	background-color: #210808;
	margin: 5px;
	border-radius: 10px;

}

.dataType {
	padding-right: 10px;
	padding-top: 5px;
	vertical-align: top;
	width: 20%;
	opacity: 1;

	transition: opacity 0.1s ease-in-out;
}

.dataType.hidden {
	opacity: 0;
}

#endDate {
	opacity: 1;
	transition: opacity 0.1s ease-in-out;
}

#endDate.hidden {
	opacity: 0;
}

#aliveBox {
	width: 150px;
}

.shortDescription {
	background-color: #330b0b;

	color: white;
	font-size: 22px;
	font-family: 'Oswald', sans-serif;

	border: none;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	
	min-height: 100px;

	width: 100%;

	resize: vertical;
}

.createPageButtonIcon {
	width: 34px;
	height: 34px;
	opacity: 0.6;
	margin: 5px;

	transition: opacity 0.2s ease-in-out;
}

.createPageButton {
	display: flex;
	align-items: center;

	align-self: flex-end;
	color: #acacac;

	padding: 7px;
	border-radius: 3px;

	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.createPageButton:hover {
	color: white;
	cursor: pointer;
}

.createPageButton:hover .createPageButtonIcon {
	opacity: 1;
}

.page {
	background-color: unset;
}

