
body {
	height: fit-content;
	overflow: auto;
}

#personImage {
	width: 200px;
	height: 300px;

	object-fit: cover;

	border: solid 1px;
	border-color: white;

	vertical-align: top;
}

#personCard {
	padding: 10px;
	vertical-align: top;
	padding-left: 50px;
}

#personHeader {
	font-family: 'Oswald', sans-serif;
	font-size: 64px;
	line-height: 64px;
}

#personHeader p {
	margin: 0px;
	line-height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#personOriginalName {
	font-size: 40px;
	color: grey;

	line-height: 40px;
}

#personLifetime {
	font-size: 40px;
	color: grey;
}

#personBio {
	padding-right: 50px;
	/* padding-left: 50px; */
}

.timeline {
	margin-top: 20px;
}

.timelineElemIconBox {
	vertical-align: top;
}

.timelineElemIcon {
	vertical-align: top;
}

.timelineElemIcon img {
	vertical-align: top;
}

.timelineElemData {
	vertical-align: top;
	padding-top: 15px;
}

.timepointBody {
	font-size: 26px;
	padding-right: 10%;
}

.timelineElemData a:link, a:visited {
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	color: rgb(172, 0, 0);
}

.timelineElemData a:hover {
	color: rgb(227, 0, 0);
}

.timelineElemData a:active {
	color: rgb(255, 0, 0);
}

.timelineElemData .timepoint {
	color: grey;
}

.timelineConnector {
	position: absolute;
	left: 0;
	top: 0;
}

.timepointBox {
	display: flex;
	align-items: center;
	align-content: center;
}

.timepointTitle {
	margin-right: 10px;
}

.timelineInlineButton {
	display: inline;
	width: 26px;
	height: 26px;
	margin-top: 4px;
	margin-left: 7px;

	opacity: 0.1;
	transition: opacity 0.2s ease-in-out;

	vertical-align: text-top;
}

.timelineInlineButton:hover {
	opacity: 1;
	cursor: pointer;
}
