
#personImage {
	width: 200px;
	height: 300px;

	object-fit: cover;

	border: solid 1px;
	border-color: white;
}

#personCard {
	padding: 10px;
	vertical-align: top;
	padding-left: 50px;
}

#personHeader {
	font-family: 'Oswald', sans-serif;
	font-size: 64px;
}

#personOriginalName {
	font-size: 40px;
	color: grey;
}

#personLifetime {
	font-size: 40px;
	color: grey;
}


#personBio {
	padding-right: 50px;
	/* padding-left: 50px; */
}
