
.page {
	background-color: #130d0ddd;
}

.searchAwait {
	display: none;
}

.searchAwait.ondisplay {
	display: flex;
	align-items: center;
	align-content: center;

	justify-content: center;

	width: 100%;
}

.searchAwait img {
	width: 40px;
	height: 40px;
	padding: 10px;
}

.searchMetadata {
	text-align: right;
	font-size: 20px;
}

.searchMetadata .data {
	color: red;
	font-size: 24px;
}

.searchResult {
	display: flex;

	width: 90%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

	border-radius: 10px;

	background-color: #361a1aaa;
	box-shadow: rgb(74, 0, 0) 0 4px 15px;

	font-size: 26px;

	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.searchResult:hover {
	background-color: #351b1b;
	opacity: 1;
	box-shadow: rgb(97, 0, 0) 0 4px 10px;
	cursor: pointer;
}


.vertResult {
	display: flex;
	flex-flow: column;

	padding-left: 20px;
}

.resultTitle {
	color: rgb(192, 0, 0);
	text-decoration: none;
	font-size: 40px;

	transition: color 0.2s ease-in-out;
}

.searchResult:hover .resultTitle {
	color: red;
}

.resultDescription.ondisplay {
	color: rgb(200, 200, 200);
	font-size: 24px;
	transition: color 0.2s ease-in-out;

	display: block;
}

.resultDescription {
	display: none;
}

.searchResult:hover .resultDescription {
	color: white;
}

.resultIcon {
	visibility: hidden;
	
	width: 64px;
	height: 96px;

	object-fit: cover;
	border: solid 1px;
	border-color: rgb(81, 0, 0);
	border-radius: 5px;
}

.resultIcon.ondisplay {
	visibility: visible;
}

.noSearchResults {
	display: none;
}

.noSearchResults.ondisplay {
	display: block;
}

#createPage {
	color: rgb(192, 0, 0);
	transition: color 0.2s ease-in-out;
}

#createPage:hover {
	color: red;
}

.addIcon {
	width: 64px;
	height: 64px;
	opacity: 80%;
}

#createPageResult {
	align-items: center;
	align-content: center;
}

#createPageResult a {
	font-size: 34px;
}

.searchResult:hover .addIcon {
	opacity: 100%;
}
