
html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	padding: 0;
	padding-top: 50px;
	margin: 0;

	width: 100%;
	height: 100%;

	background: #000000;
	background: linear-gradient(to bottom right, black 70%, rgb(49, 0, 0) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

	color: white;
	font-family: 'Oswald', sans-serif;

	overflow-y: scroll;
}

a {
	text-decoration: none;
}

.noselect {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#headerSearchBox {
	display: block;

	font-family: 'Oswald', sans-serif;
	font-size: 26px;

	width: 60%;
	padding: 3px;
	
	background-color: #330b0b;
	color: white;

	border-radius: 5px;
	border: none;
	vertical-align: middle;
}

#headerSearchButton {
	display: block;

	width: 30px;
	height: 30px;
	line-height: 30px;
	
	background-color: #330b0b;
	border-radius: 3px;
	
	text-align: center;
	font-size: 26px;

	padding: 5px;
	margin: 5px;

	vertical-align: middle;

	cursor: pointer;

	transition: background-color 0.2s ease-in-out;
}

#headerSearchButton:hover {
	background-color: #4b1111;
}

#headerSearchIcon {
	width: 30px;
	height: 30px;
}

::placeholder { /* Firefox */
	color: rgb(88, 63, 63);
	opacity: 1;
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
	color: rgb(88, 63, 63);
}

.bottomLeftLinks {
	position: fixed;
	bottom: 10px;
	left: 10px;
}

#github-link-image {
	width: 50px;
	height: 50px;
	opacity: 50%;
	transition: opacity 0.2s ease-in-out;
}

#github-link-image:hover {
	opacity: 100%;
}

.headerLogo {
	display: block;
	width: 10%;
	text-align: center;
	
	color: white;

	font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 34px;

	transform: rotate(-5deg);

	/* align-self: center; */

	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 4px;
}

.headerLogoContainer {
	width: fit-content;
	height: fit-content;

	align-self: center;
	justify-self: center;

	flex: 1 1 200px;
}

.headerSearch {
	display: flex;
	/* width: 30%; */
	flex: 5 1 400px;
	align-items: center;
	justify-content: center;
}

.userCard {
	display: flex;
	flex: 1 1 200px;
	/* background-color: rgb(27, 0, 0); */
	align-content: flex-end;
	/* height: 40px; */
}

.userCard.hidden {
	display: none;
}

.username {
	color: white;
	text-decoration: none;
	font-size: 24px;
}

#username {
	color: white;
}

.logoutButton {
	color: #4b1111;
	transition: color 0.2s ease-in-out;
	font-size: 16px;
}

.logoutButton:hover {
	color: red;
	cursor: pointer;
}

.userlinks {
	display: flex;
	flex-flow: column;
	flex: 1;

	padding-right: 10px;
	text-align: right;
}

.headerLoginButton {
	padding-right: 10px;
	transition: color 0.2s ease-in-out;
}

.headerLoginButton:hover {
	cursor: pointer;
	color: red;
}


.loginRegister {
	display: flex;
	flex-flow: column;
	flex: 1;

	justify-content: end;
	text-align: right;
}

.loginRegister.hidden {
	display: none;
}

.userIcon {
	width: 64px;
	height: 64px;
}

.header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	position: fixed;

	margin: 0px;
	padding: 0px;
	width: 100%;

	background: linear-gradient(90deg, #150909, 80%, black);
	box-shadow: rgb(97, 0, 0) 0 1px 25px;

	top: 0px;
	left: 0px;

	z-index: 500;
}

.page {
	display: block;
	width: 80%;
	/* height: 1250px; */
	
	background-color: #130d0d;

	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 10px;

	border-radius: 10px;

	font-size: 28px;
}

.template {
	display: none !important;
}

.loginRegisterBg {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;

	z-index: 600;

	background: rgba(0, 0, 0, 0.0);
	visibility: hidden;
	transition: visibility 0s, background-color 0.5s ease-in-out;
}

.loginRegisterBg.ondisplay {
	/* display: flex; */
	visibility: visible;
	background: rgba(0, 0, 0, 0.5);
}

.loginRegisterWindow {
	display: block;

	width: 400px;
	height: fit-content;
	padding: 10px;

	background-color: black;
	box-shadow: #4b1111 0 0 100px;
	border-radius: 25px;
	opacity: 0;

	transition: opacity 0.5s ease-in-out;
}

.ondisplay .loginRegisterWindow {
	opacity: 1;
}

.loginRegisterWindowLogoContainer {
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
}

.logoBox {
	width: fit-content;
	height: fit-content;
}

.loginRegisterWindowLogo {
	font-size: 64px;
	padding: 0px;
	padding-top: 35px;
	margin: 0px;
}

.loginForm {
	display: none;
	flex-flow: column;
	align-items: center;
	text-align: left;
}

.loginForm.ondisplay {
	display: flex;
}

.registerForm {
	display: none;
	flex-flow: column;
	align-items: center;
	text-align: left;
}

.registerForm.ondisplay {
	display: flex;
}

.loginFormLabel {
	width: 90%;
	padding-left: 10px;
	margin-top: 5px;
	font-size: 26px;
}

.loginWindowInput {
	width: 90%;

	background-color: #330b0b;
	color: white;

	font-size: 30px;
	font-family: 'Oswald', sans-serif;

	border: none;
	margin: 3px;
	padding: 5px;

	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.loginWindowButton {
	background-color: #330b0b;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;

	width: fit-content;
	flex: auto;

	font-size: 22px;

	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

	text-align: center;
	transition: background-color 0.2s ease-in-out;
}

.loginWindowButton:hover {
	background-color: #4b1111;
	cursor: pointer;
}

.spinnerIcon {
	display: block;
	width: 40px;
	height: 40px;

	flex: none;
	padding-left: 15px;

	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.spinnerIcon.ondisplay {
	opacity: 1;
}

.loginButtonBox {
	display: flex;
	align-content: center;
	align-items: center;

	margin: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.noAccountButton {
	margin-bottom: 10px;
	color: gray;
	transition: color 0.2s ease-in-out;
}

.noAccountButton:hover {
	color: white;
	cursor: pointer;
}

.loginWindowErrorMessage {
	position: absolute;
	opacity: 0;

	width: 300px;
	background-color: rgb(125, 0, 0);
	box-shadow: #4b1111 0 0 100px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	padding: 10px;

	transition: opacity 1s ease-in-out;
}

.loginWindowErrorMessage.ondisplay {
	opacity: 1;
}

.hidden {
	visibility: hidden;
}

.registrationSuccessful {
	display: none;
	flex-flow: column;
	align-items: center;
	align-content: center;

	padding: 15px;

	font-size: 22px;
	text-align: justify;

	transition: visibility 0s, opacity 0s;
}

.registrationSuccessfulMainLine {
	color: #d00000;
}

.registrationSuccessful.ondisplay {
	display: flex;
}


.message {
	position: fixed;
	opacity: 0;

	height: fit-content;
	width: fit-content;
	right: 10px;
	left: initial;

	bottom: -300px;

	border-radius: 5px;
	padding: 5px;
	margin: 10px;

	background-color: #975d1a;
	color: white;

	font-family: 'Oswald', sans-serif;
	font-size: 22px;


	transition: all 0.2s ease-in-out;
}

.message.ondisplay {
	bottom: 0px;
	opacity: 0.8;
}

.message.ondisplay.goingAway {
	transform: translate(200%, 0);
	opacity: 0;
}
